@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #062626;
}

:root {
  --color-dark: #062626;
  --color-teal: #006f6b;
  --color-gold: #9d691d;
  --color-teal-light: #89e3d5;
  --color-teal-mid: #00a0a3;
  --color-teal-bright: #00b496;
  --color-gold-mid: #b86d00;
  --color-teal-deep: #00534d;
  --color-white: #ffffff;
  --color-black: #000000;
  --bg-light: #f4fafa;
  --border: #e0f0ef;
}